<div class="container mt-4">

  <h2 class="mb-4">Sensor Data List</h2>
  
  <!-- Sensor data table -->
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Device</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sensorDataList">
        <td>{{ data.date }}</td>
        <td>{{ data.time }}</td>
        <td>{{ data.device }}</td>
        <td>{{ data.distance }}</td>
      </tr>
    </tbody>
  </table>
</div>
